<body>
  <div class="row">
    <mat-card class="music-card">
      <img
        mat-card-image
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjSui2Kr8gxkatEG_KuzKCIPyH-0XTN2n0_g&s"
      />
      <mat-card-content>
        <b>Somewhere I Belong</b>
        <p>Canción - Linking Park</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="music-card">
      <img
        mat-card-image
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjSui2Kr8gxkatEG_KuzKCIPyH-0XTN2n0_g&s"
      />
      <mat-card-content>
        <b>Somewhere I Belong</b>
        <p>Canción - Linking Park</p>
      </mat-card-content>
    </mat-card>
  </div>
</body>
